/**
 * @file
 * Styling for the SiteAttention plugin.
 */

#SAPL
{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 599;
}

#toolbar, #admin-menu
{
    min-width: 100% !important;
    clip: unset !important;
}


.siteattention-imagewidget-alt-warn
{
    border: 1px solid red;
    margin-top: 10px;
    padding: 2px 6px;
    text-align: center;
}

.field-edit-link, .link-edit-summary{
  display: none !important;
}
/**
  * CSS for Garland theme
  */

.siteattention-garland div.SA_max_header
{
    /*padding-right: 360px !important;*/
}

.siteattention-garland div.SA_max_content
{
    padding-right: 380px !important;
}


/**
  * CSS for Bartik theme
  */

.siteattention-bartik div.SA_max_header
{
    padding-right: 360px ;
}

.siteattention-bartik div.SA_max_content
{
    padding-right: 360px ;
}


/**
  * CSS for Seven theme
  */

.siteattention-seven div.SA_max_header
{
    padding-right: 380px !important ;
}

.siteattention-seven div.SA_max_content
{
    padding-right: 360px ;
}

/**
  * CSS for Stark theme
  */

.siteattention-stark div.SA_max_header
{
    padding-right: 360px ;
}

.siteattention-stark div.SA_max_content
{
    padding-right: 360px ;
}


/**
  * CSS for Bootstrap theme
  */

.siteattention-bootstrap header.SA_max_header
{
    margin-right: 515px ;
}

.siteattention-bootstrap div.SA_max_content
{
    margin-right: 500px ;
}


/**
  * CSS for Zen theme
  */

.siteattention-zen header.SA_max_header
{
    /*margin-right: 515px ;*/
}

.siteattention-zen div.SA_max_content
{
    margin-right: 500px ;
}
